
# PlanAhead Generated physical constraints 

NET "down_i" LOC = P39;
NET "enter_i" LOC = P41;
NET "esc_i" LOC = P42;
NET "right_i" LOC = P44;
NET "up_i" LOC = P45;
NET "left_i" LOC = P43;
NET "out_m[7]" LOC = P46;
NET "out_m[6]" LOC = P47;
NET "out_m[5]" LOC = P48;
NET "out_m[3]" LOC = P50;
NET "out_m[2]" LOC = P51;
NET "out_m[1]" LOC = P62;
NET "out_m[0]" LOC = P64;
NET "out_m[4]" LOC = P49;
NET "alm" LOC = P67;
NET "out[0]" LOC = P3;
NET "out[1]" LOC = P4;
NET "out[2]" LOC = P5;
NET "out[3]" LOC = P6;
NET "out[4]" LOC = P7;
NET "out[5]" LOC = P8;
NET "out[6]" LOC = P10;
NET "out[7]" LOC = P24;
NET "out[8]" LOC = P25;
NET "out[9]" LOC = P27;
NET "out[10]" LOC = P28;
NET "out[11]" LOC = P29;
NET "out[12]" LOC = P30;
NET "out[13]" LOC = P31;
NET "out[14]" LOC = P32;
NET "out[15]" LOC = P37;
NET "out[16]" LOC = P68;
NET "out[17]" LOC = P69;
NET "out[18]" LOC = P70;
NET "out[19]" LOC = P71;
NET "out[20]" LOC = P72;
NET "out[21]" LOC = P75;
NET "out[22]" LOC = P76;
NET "out[23]" LOC = P77;
NET "out[24]" LOC = P78;
NET "out[25]" LOC = P79;
NET "out[26]" LOC = P82;
NET "out[27]" LOC = P84;
NET "out[28]" LOC = P96;
NET "out[29]" LOC = P98;
NET "out[30]" LOC = P99;
NET "out[31]" LOC = P101;
NET "out[32]" LOC = P102;
NET "out[33]" LOC = P103;
NET "out[34]" LOC = P104;
NET "out[35]" LOC = P105;
NET "out[36]" LOC = P110;
NET "out[37]" LOC = P111;
NET "out[38]" LOC = P113;
NET "out[39]" LOC = P114;
NET "out[40]" LOC = P115;
NET "out[41]" LOC = P116;
NET "out[42]" LOC = P117;
NET "out[43]" LOC = P120;
NET "out[44]" LOC = P121;
NET "out[45]" LOC = P134;
NET "out[46]" LOC = P135;
NET "out[47]" LOC = P138;
NET "clk" LOC = P60;
